.tex{
font-size: 14px;
}
.tex1{
    font-size: 12px;
    
}
.bor{
    border-radius: 10px;
    background-image: linear-gradient(to right, lightblue, rgb(209, 212, 224));
    box-shadow: 12px 12px 2px 1px rgba(165, 165, 177, 0.2);
}
.tex2{
 font-size: 12px;
 color: red;
}